@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

body{
    overflow-x: hidden;
    font-family: "Merriweather";
    background-color: #F1F5F8;
}

select{    
    border: 0px;
    background-color: #fff;
    
    cursor: pointer;
    width: 100%;    
}

.no-data-found{
    height: 450px;
    padding-top: 220px;
}